#testId p {
  background-color: lightblue;
}
.testClass p {
  background-color: #333;
}

/* .testClass.testClass p{
  background-color: red;
}
.testClass p{
  background-color: black;
} */

/* .testClass.testClass.testClass.testClass.testClass.testClass.testClass.testClass.testClass.testClass.testClass.testClass {
  background-color: red;
}
#testId {
  background-color: black;
} */
