.article-container {
  width: 960px;
  max-width: 100%;
  margin: 60px auto;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.nav-container {
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  transform: translate(0, 0);
  transition: transform 500ms ease;
}
code {
  background-color: #00000015;
  display: block;
  padding: 10px 20px;
  border-radius: 4px;
}
p {
  white-space: pre-wrap;
}

h1,
h2,
h3,
p,
a {
  margin: 10px 0;
}

a {
  text-decoration: none;
  border: 1px solid lightblue;
  border-radius: 4px;
  padding: 5px 10px;
}

button {
  margin-top: 10px;
  background-color: lightblue;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 5px 10px;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
